<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Taco Cloud</title>
</head>
<body>
	<h1>Design your taco!</h1>
	

	<form method="post" th:object="${taco}">
		<div th:if="${#fields.hasErrors()}">
			<span class="validationErrors">
				Please correct the problems bellow and resubmit.
			</span>
		</div>
		<div class="grid">
			<div class="ingredient-group">
				<h3>Designate your wrap</h3>
				<div th:each="ingredient: ${wrap}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}"/> <span
						th:text="${ingredient.name}">ingredient</span><br />
				</div>
			</div>
			<div class="ingredient-group">
				<h3>Pick your protein</h3>
				<div th:each="ingredient: ${protein}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}"/> <span
						th:text="${ingredient.name}">ingredient</span><br />
				</div>
			</div>
			<div class="ingredient-group">
				<h3>Choose your cheese:</h3>
				<div th:each="ingredient: ${cheese}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}"/> <span
						th:text="${ingredient.name}">ingredient</span><br />
				</div>
			</div>
			<div class="ingredient-group">
				<h3>Determine your veggies:</h3>
				<div th:each="ingredient: ${wrap}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}"/> <span
						th:text="${ingredient.name}">ingredient</span><br />
				</div>
			</div>
		</div>
		<div>
			<h3>Name your taco creation:</h3>
			<input type="text" th:field="*{name}" /> <br />
			<span class="validationError"
				th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">Invalid name for your taco design</span>
				<button>Submit your taco</button>
		</div>

	</form>
</body>
</html>